 
 
.style_1 {
 color: olive;
 font-size: 200%;
 font-family: Arial, Verdana, sans-serif;
 text-align: center;
}
    
.style_2 {
 padding-left: 20px;
} 

.style_3 {
 font-size: 100%;
 font-family: Courier;
 text-align: right;
}
